body {
  background-color: #f7f7f7;
}
@media only screen and (max-width: 1080px), only screen and (max-device-width: 1080px) {
  html,
  body {
    font-size: 33.75px;
  }
}
@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
  html,
  body {
    font-size: 30px;
  }
}
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
  html,
  body {
    font-size: 25px;
  }
}
@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
  html,
  body {
    font-size: 22.5px;
  }
}
@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
  html,
  body {
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
  html,
  body {
    font-size: 18.75px;
  }
}
@media only screen and (max-width: 540px), only screen and (max-device-width: 540px) {
  html,
  body {
    font-size: 16.875px;
  }
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  html,
  body {
    font-size: 15px;
  }
}
@media only screen and (max-width: 414px), only screen and (max-device-width: 414px) {
  html,
  body {
    font-size: 12.9375px;
  }
}
@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
  html,
  body {
    font-size: 12.5px;
  }
}
@media only screen and (max-width: 375px), only screen and (max-device-width: 375px) {
  html,
  body {
    font-size: 11.71875px;
  }
}
@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
  html,
  body {
    font-size: 11.25px;
  }
}
@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  html,
  body {
    font-size: 10px;
  }
}
@media only screen and (max-width: 240px), only screen and (max-device-width: 240px) {
  html,
  body {
    font-size: 7.5px;
  }
}
/*header*/
#header {
  background-color: #ff841d;
  height: 3.125rem;
  padding: 0 .625rem;
}
#header .logo {
  height: 100%;
  display: inline-block;
  line-height: 3.125rem;
}
#header .app {
  float: right;
  line-height: 3.125rem;
}
#header img {
  height: 1.5625rem;
}
/*search*/
#search {
  border-bottom: 1px solid #e6e6e6;
  height: 3.125rem;
  padding: .625rem;
  background-color: #fff;
  position: relative;
}
#search input {
  -webkit-appearance: none;
  border: none;
  height: 1.875rem;
  line-height: 1.875rem;
  border-radius: 15px;
  font-size: 1rem;
}
#search input[type="text"] {
  background: #f1f1f1;
  margin: 0px;
  padding: 0px;
  width: 90%;
  padding-left: 5%;
}
#search input[type="submit"] {
  position: absolute;
  right: .625rem;
  width: 3.9375rem;
  background: #ff841d;
  color: #fff;
}
#footer .recommend_title {
  margin-top: .625rem;
  margin-bottom: .375rem;
  height: 2.1875rem;
  line-height: 2.1875rem;
  font-size: 1.125rem;
  padding-left: .625rem;
  color: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaf47), to(#ff9000));
}
#footer .recommend_title img {
  height: 1.25rem;
  float: right;
  margin-right: .625rem;
  color: #fff;
  margin-top: .5rem;
}
#footer .recommend_title span {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 2.1875rem;
  color: #fff;
}
#footer .login_box {
  display: flex;
  margin-top: .625rem;
  background: #efefef;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  height: 2.125rem;
  line-height: 2.125rem;
  text-align: center;
}
#footer .login_box .login,
#footer .login_box .register {
  flex: 3;
  border-right: 1px solid #c4c4c4;
}
#footer .login_box .go_Top {
  flex: 4;
}
#footer .login_box .go_Top img {
  height: .9375rem;
  vertical-align: middle;
  margin-top: -0.3125rem;
  margin-right: .125rem;
}
#footer .login_button {
  font-size: .75rem;
  text-align: center;
  font-weight: 200;
}
#footer .login_button p {
  margin: 0;
}
#footer .login_button p:first-child a:first-child {
  color: red;
}
#goTop {
  display: none;
  position: fixed;
  bottom: 1.25rem;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  font-size: 1.25rem;
  text-align: center;
}
