#nav {
  position: relative;
}
#nav .breadcrumb {
  margin-bottom: 0;
}
#nav input {
  width: 60px;
  height: 28px;
  position: absolute;
  top: 4px;
  right: 0;
  margin-right: 10px;
  border-radius: 8px;
  border: 0;
}
#product .product-list {
  padding: 10px;
  background-color: #fff;
}
#product .product-list ul li {
  overflow: hidden;
}
#product .product-list ul li a {
  display: block;
}
#product .product-list ul li a .product-img {
  float: left;
}
#product .product-list ul li a .product-img img {
  height: 100px;
}
#product .product-list ul li a .product-text {
  padding-left: 110px;
}
#product .product-list ul li a .product-text h5 {
  min-height: 44px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#product .product-list ul li a .product-text p {
  margin: 0 0 10px;
  color: red;
  font-weight: 700;
}
#product .product-list ul li a .other {
  font-size: 12px;
  color: #a1a1a1;
}
#product .product-list .page {
  height: 33px;
}
#product .product-list .page span {
  text-align: center;
  float: left;
  height: 33px;
  width: 33.33%;
}
#product .product-list .page span a {
  display: inline-block;
  width: 62px;
  height: 29px;
  line-height: 29px;
  background-color: #ccc;
  border-radius: 6px;
}
#product .product-list .page span select {
  padding: 0 17px;
  height: 30px;
}
/*progressbar*/
.progress {
  margin-bottom: 0;
  height: 4px;
}
